p {
  margin: 10px;
  margin-top: 0;
  margin-left: 20px;
  /* padding-bottom: 20px; */
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.overskrift1 {
  grid-column: 1 / 4;
  margin-left: 20px;
}

.om-mig {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.overskrift2 {
  /* grid-row: 6; */
  grid-column: 1 / 4;
  margin-left: 20px;
}

.billede1,
.billede2 {
  grid-column: 1 / span 3;
  position: relative;
  width: 60vw;
}

.billede1 {
  left: 148px;
}
.billede2 {
  left: 10px;
  top: -80px;
}

@media (width > 620px) {
  .om-mig {
    grid-column: 1 / 3;
    max-width: 737px;
  }

  .billede1,
  .billede2 {
    grid-column: 2 / span 2;
    position: relative;
  }

  .billede1 {
    left: 85px;
    width: 50vw;
  }
  .billede2 {
    left: -80px;
    top: -147px;
    width: 45vw;
  }
}

@media (width > 945px) {
  .billede1 {
    grid-column: 3 / 4;
    left: 0;
    top: 340px;
    width: 35vw;
    margin-right: 10px;
  }

  .billede2 {
    grid-column: 2 / 3;
    left: 83px;
    top: -1px;
    width: 30vw;
  }
}

@media (width > 1230px) {
  .billede1 {
    top: 240px;
    width: 35vw;
    max-width: 35vw;
    margin-right: 30px;
  }

  .billede2 {
    left: 111px;
    top: -58px;
    width: 30vw;
    max-width: 30vw;
  }
}

@media (width > 1520px) {
  .billede1 {
    top: 70px;
    margin-right: 80px;
  }

  .billede2 {
    left: 111px;
    top: -261px;
  }
}
